
<ion-content [fullscreen]="true">
  <div class="containerLogin">
    <div class="portada">
      <h1 class="logoLogin">KULPRO</h1>
      <img src="../../assets/img/imgLogin.png" alt="">
      <p>Bienvenido a tu lugar seguro</p>

      <div class="buttons">
        <button (click)="goToPageRegister()">Registrarse</button>
        <button style="background-color: #fff;
        border: 1px solid #002CC8 ;
        color: #002CC8;">Ya tengo una cuenta</button>
      </div>

    </div>
  </div>
</ion-content>

