.tituloKulpro{
  background-image: url('../../assets/img/Ellipse.png');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  left: 0px;
  top: 0px;
  border-bottom-left-radius: 20px;
  width: 38vw;
  padding: 11px;

  h2{
    margin: 14px 0px;
  }
}